.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    box-sizing:  border-box;
}
.header {
    background-color: #333;
    height: 154px;
    width: 100%;
}
.header-con {
    display: flex;
    justify-content: space-between;
    height: 154px;
    align-items: center;
}
.logo-container a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li {
    padding-right: 2rem;
}
.menu li a {
    text-decoration: none;
    color: #fff;
}
.moblie-menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .header {
        //width: fit-content;
        width: 100%;
        padding: 0 2rem;
    }
    .moblie-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 137px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
    }
    .menu.active {
        width: 105%;
        background: #111;
        left: 0;
        opacity: 1;
        z-index: 1;
        align-items: center;
        transition: 0.5s ease;
    }
    .menu li {
        padding-right: 0;
    }
    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vm;
        padding: 10px 0;
    }
}